.container{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px
}
.darkTheme {
    background-color: black;
    color: #fff;
    border: 2px solid white
}
.lightTheme{
    background-color: #fff;
    color: black;
}
