.user-card{
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}