.container{
    border: 2px solid black;padding: 25px 
}
.darkTheme {
    background-color: rgb(73, 73, 73);
    color: #fff;
    border: 2px solid white
}
.lightTheme{
    background-color: #fff;
    color: black;
}
